h1 {
  color: red;
}

.row {
  border: 10px solid blue;
}

.box {
  border: 1px solid red;
  display: inline-block;
  width: 32%;
  height: 100px;
  cursor: pointer;
}

.clickx {
  background-color: rgb(201, 177, 92);
}

.clicko {
  background-color: rgb(45, 252, 54);
}
